*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
section ul li p{
	width: 250px;
    height: 200px;
	text-transform: 
	transform: rotate(90deg); 
	font-family: 'BC Liguria';
	font-size: 24px;
	letter-spacing: 5px;
	text-align: center;
	animation: myfirst 5s 2;
    animation-direction: alternate;background: yellow;
    
}


@keyframes myfirst {
  0%   {background: #FFEDAC; left: 0px; top: 0px;}
  25%  {background: #FCF897; left: 200px; top: 0px;}
  50%  {background: #FFFDC2; left: 200px; top: 200px;}
  75%  {background: #EDD500; left: 0px; top: 200px;}
  100% {background: #FFEB81; left: 0px; top: 0px;}
}
}

ul {
    height: 200px;
    display: flex;
}

