body{
	margin: 0;
	padding: 0;
	background: #FACACA;
}
.content{
	font-family: 'BC Liguria';
	font-size: 36px;
	letter-spacing: 5px;
	text-align: center;
}
.content span{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.content span.active{
	animation: smoke 2s linear forwards;
}
@keyframes smoke
{
	0%
	{
		opacity: 1;
		filter: blur(0);
		transform: translateX(0) translateY(0) rotate(0deg) scale(1);
	}
	50%{
		opacity: 1;
		pointer-events: none;
	}
	100%
	{
		opacity: 1;
		filter: blur(20px);
		transform: translateX(300) translateY(-300) rotate(720deg) scale(4);
	}
}
.content ul  a
{
	position: relative;
	text-decoration: none;
	font-size: 0.5em;
	padding: 0 20px;
	color: deeppink;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	top: 0;
	left: 0;
}
.middle{
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1600px;
}
.bar1{
	width: 50px;
	height: 120px;
	background: #F7E4E4;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 1.5s ease-in-out infinite;
}
.bar2{
	width: 50px;
	height: 120px;
	background: #FACACA;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 1.5s ease-in-out infinite;
}
.bar3{
	width: 50px;
	height: 120px;
	background: #F2AFAF;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 1.5s ease-in-out infinite;
}
.bar4{
	width: 50px;
	height: 120px;
	background: #F29898;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 1.5s ease-in-out infinite;
}
.bar5{
	width: 50px;
	height: 120px;
	background: #F27B7B;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 1.5s ease-in-out infinite;
}
.bar6{
	width: 50px;
	height: 120px;
	background: #CB4646;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 1.5s ease-in-out infinite;
}
.bar7{
	width: 50px;
	height: 120px;
	background: #C50101;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 1.5s ease-in-out infinite;
}
.bar1{
	color: #F7E4E4;
	animation-delay: 0.1s;
}
.bar2{
	animation-delay: 0.2s;
}
.bar3{
	animation-delay: 0.3s;
}
.bar4{
	animation-delay: 0.4s;
}
.bar5{
	animation-delay: 0.5s;
}
.bar6{
	animation-delay: 0.6s;
}
.bar7{
	animation-delay: 0.7s;
}
@keyframes loading {
	0%{
		transform: scaleY(0.1);
	}
	50%{
		transform: scaleY(1);
	}
	100%{
		transform: scaleY(0.1);
		background: transparent;
	}
}