body{
	margin: 0;
	padding: 0;
	background: #D7F0FF;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
p{
	font-family: 'BC Liguria';
	font-size: 24px;
	letter-spacing: 5px;
	text-align: center;
}
.middle{
	position: relative;
	top: 164%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.bar1{
	width: 280px;
	height: 280px;
	background: #D7F0FF;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 2s ease-in-out;
}
.bar2{
	width: 280px;
	height: 380px;
	background: #B7E4F8;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 2.5s ease-in-out;
}
.bar3{
	width: 280px;
	height: 340px;
	background: #87D3FE;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 3s ease-in-out;
}
.bar4{
	width: 280px;
	height: 480px;
	background: #55C0FC;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 3.5s ease-in-out;
}
.bar5{
	width: 280px;
	height: 680px;
	background: #049DF3;
	display: inline-block;
	transform-origin: bottom center;
	animation: loading 4s ease-in-out;
}
.bar1 p{
	font-family: 'BC Liguria';
	font-size: 36px;
	letter-spacing: 5px;
	text-align: center;
}
.bar2 p{
	font-family: 'BC Liguria';
	font-size: 36px;
	letter-spacing: 5px;
	text-align: center;
}
.bar3 p{
	font-family: 'BC Liguria';
	font-size: 36px;
	letter-spacing: 5px;
	text-align: center;
}
.bar4 p{
	font-family: 'BC Liguria';
	font-size: 36px;
	letter-spacing: 5px;
	text-align: center;
}
.bar5 p{
	font-family: 'BC Liguria';
	font-size: 36px;
	letter-spacing: 5px;
	text-align: center;
}
.button ul a{
	position: relative;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0 20px;
	color: blue;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	top: -50px;
	left: 0;
}