body{

}

.cup{
    
}
.square{
    width: 550px;
    height: 500px;
    background: grey;  
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    left:200px;
    top:100px;
}
.square:hover{
    transform: translate(120px, 50%);
}
.circle{
    width: 250px;
    height: 250px;
    background: #2396f3c2;
    position: absolute;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 159px;
    top: 191px;
}
.circle:hover{
    transform: translate(120px, 50%);
}
.square1{
    width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    bottom: 127px;
    right: 328px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.square1:hover{
    transform: translate(120px, 50%);
}
.square2{
    width: 80px;
    height: 80px;
    background: blue;
    position: relative;
    bottom: 402px;
    right: 300px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.square2:hover{
    transform: translate(120px, 50%);
}
.square3{
    width: 80px;
    height: 80px;
    background: blue;
    position: relative;
    bottom: 402px;
    right: 291px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.square3:hover{
    transform: translate(120px, 50%);
}
.handle{
    width: 50px;
    height: 80px;
    background: blue;
    position: relative;
    bottom: 520px;
    right: -36px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.handle:hover{
    transform: translate(120px, 50%);
}

.inline{
    display: inline-block;
}