* {
    margin: 0px;
    padding: 0px;
}

body{

}

.bounding-box2{
    position: relative;
    width: 500px;
    height: 600px;
    background: black;
    top:0;
    right:-500px;
}

.infinity {
      position: relative;
      width: 212px;
      height: 100px;
      box-sizing: content-box;
    }
    .infinity:before,
    .infinity:after {
      content: "";
      box-sizing: content-box;
      position: absolute;
      top: 2px;
      left: 0;
      width: 120px;
      height: 120px;
      border: 40px solid orange;
      border-radius: 100px 100px 0 100px;
      transform: rotate(44deg); 
    }
    .infinity:after {
      left: auto;
      right: 12px;
      top:285px;
      bottom:0px;
      border-radius: 100px 100px 100px 0;
      transform: rotate(136deg);
    }

.infinity:hover{
      transition-timing-function: ease-in;
      transition: all 1500ms ease;
      filter: drop-shadow(16px 16px 20px blue) invert(100%);  
    }

.infinity1 {
      position: relative;
      width: 212px;
      height: 100px;
      box-sizing: content-box;
    }
    .infinity1:before,
    .infinity1:after {
      content: "";
      box-sizing: content-box;
      position: absolute;
      top: -198px;
      left: 0;
      width: 120px;
      height: 120px;
      border: 40px solid orange;
      border-radius: 100px 100px 0 100px;
      transform: rotate(-45deg);
    }
    .infinity1:after {
      left: auto;
      right: -271px;
      top:-198px;
      bottom:0px;
      border-radius: 100px 100px 100px 0;
      transform: rotate(45deg);
    }

    .infinity1:hover{
      transition-timing-function: steps(6, end);
      transition: all 1500ms ease;
      filter: drop-shadow(16px 16px 20px blue) invert(100%);
    }

    .infinity2 {
      position: relative;
      width: 212px;
      height: 100px;
      box-sizing: content-box;
    }
    .infinity2:before,
    .infinity2:after {
      content: "";
      box-sizing: content-box;
      position: absolute;
      top: 86px;
      left: 0;
      width: 120px;
      height: 120px;
      border: 40px solid orange;
      border-radius: 100px 100px 0 100px;
      transform: rotate(-45deg);
    }
    .infinity2:after {
      left: auto;
      right: -271px;
      top:86px;
      bottom:0px;
      border-radius: 100px 100px 100px 0;
      transform: rotate(45deg);
    }

    .infinity2:hover{
      transition-timing-function: steps(6, end);
      transition: all 1500ms ease;
      filter: drop-shadow(16px 16px 20px blue) invert(100%);
    }

    .infinity3 {
      position: relative;
      width: 212px;
      height: 100px;
      box-sizing: content-box;
    }
    .infinity3:before,
    .infinity3:after {
      content: "";
      box-sizing: content-box;
      position: absolute;
      top: -398px;
      left: 283px;
      width: 120px;
      height: 120px;
      border: 40px solid orange;
      border-radius: 100px 100px 0 100px;
      transform: rotate(44deg);
    }
    .infinity3:after {
      left: auto;
      right: -271px;
      top:-115px;
      bottom:0px;
      border-radius: 100px 100px 100px 0;
      transform: rotate(136deg);
    }

    .infinity3:hover{
      transition-timing-function: steps(6, end);
      transition: all 1500ms ease;
      filter: drop-shadow(16px 16px 20px blue) invert(100%);
    }

    .infinity4 {
      position: relative;
      width: 212px;
      height: 100px;
      box-sizing: content-box;
    }
    .infinity4:before,
    .infinity4:after {
      content: "";
      box-sizing: content-box;
      position: absolute;
      top: -386px;
      left: 0;
      width: 120px;
      height: 120px;
      border: 40px solid orange;
      border-radius: 100px 100px 0 100px;
      transform: rotate(-45deg);
    }

    .infinity4:hover{
      transition-timing-function: steps(6, end);
    }
    